 /* reset */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center, dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
  display: block;
 }
 body {
  line-height: 1;
 }
 ol, ul {
  list-style: none;
 }
 blockquote, q {
  quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
  content: '';
  content: none;
 }
 table {
  border-collapse: collapse;
  border-spacing: 0;
 }

/* clearfix */
.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

/* global styles */
/* Color values:
  green: #c2e2d3;
  blue: #8789b2;
  red: #d87e76;
  gray: #727272;
  black: #3d3d3d;
*/
/* http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
  position: relative;
  min-height: 100%;
}

body {
  font: 16px "Avenir", "Helvetica";
  color: #333;
  margin: 0 0 80px; /* match footer height */
}

.logo img {
  height: 100%;
}

#application-header {
  position: relative;
  height: 54px;
  padding: 6px;
}

section.main {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
}

table {
  margin: 20px 0;
}

tbody tr {
  transition: all 0.2s ease-in-out;
}

tbody tr:hover {
  color: #fafafa;
  background-color: #3d3d3d;
}

th {
  border-bottom: 2px solid #3d3d3d;
  text-align: left;
}

th, td {
  padding: 4px 8px;
}

td:first-child {
  text-align: center;
}

button {
  padding: 6px 10px;
  background-color: transparent;
  color: #3d3d3d;
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: #fafafa;
  background-color: #3d3d3d;
}

section.sidebar {
  float: right;
  width: 200px;
  border-left: 1px #3d3d3d solid;
  padding: 30px;
}

section.sidebar h1 {
  font-size: 170%;
  font-weight: bold;
}

section.sidebar h3 {
  font-size: 120%;
}

/* footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 80%;
  text-align: center;
  color: #eee;
  background-color: #3d3d3d;
}

footer li, footer p {
  display: inline-block;
  padding: 10px;
}

footer a {
  color: inherit;
}

div.background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 8px;
  background-color: rgb(114, 114, 114); /* #727272 */
  background-color: rgba(114, 114, 114, 0.7);
}

div.background * {
  color: #eee;
  border-color: #eee;
}

div.background button:hover {
  background-color: #8789b2;
}

div.background button {
  float: right;
  position: relative;
  right: 15px;
}

.crop {
  position: relative;
  max-height: 220px;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: auto;
}

article.product {
  position: relative;
  height: 400px;
  -webkit-flex-basis: 240px;
  overflow: hidden;
  margin: 10px;
}

article.product a {
  color: inherit;
}

article.product img {
  width: 100%;
  height: auto;
}

section.product div.information {
  display: inline-block;
  position: absolute;
  margin: 0 20px;
  width: 330px;
}

section.product h1 {
  font-size: 200%;
}

section.product h3 {
  font-size: 120%;
  position: absolute;
  right: 5px;
  top: 15px;
}

section.product p {
  margin: 20px 0;
}

section.product button {
  float: right;
}
